<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
  <link rel="stylesheet" href="../assets/images/icofont/icofont/icofont.min.css">

</head>

<body class="backgroundColor">
  <%- include('./layout/header'); -%>

    <main>
      <section class="container ">
        <div class="banner text-white d-flex flex-column justify-content-between mb-4" style="background: url(../assets/images/event/13.jpg) center / cover;">
          <h4 class="fs-8 pt-6 ps-5 pb-4s">19 MAY 2023</h4>
            <div class="banner-text mt-auto">
              <h3 class="fs-5 serifTC text-center mb-3">隔牆有耳-沒有草東的派對</h3>
              <p class="text-center">你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！<br>
                帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
        </div>

      </section>
      <section class="category container mb-5 mb-md-8">
        <ul class="row row-cols-3 row-cols-md-6 p-0">
          <li>
            <a href="./activities.html" class="border border-primary border-2  d-block d-flex flex-column align-items-center px-3 py-5 px-md-6 py-md-5">
              <div class="category-item mb-2 mb-md-3">
                <img src="../assets/images/img-music.png" alt="img-music">
              </div>
              <h2 class="fs-5 serifTC">演出</h2>
            </a>
          </li>
          <li>
            <a href="./activities.html" class="border border-primary border-2 d-block d-flex flex-column align-items-center px-3 py-5 px-md-6 py-md-5">
              <div class="category-item mb-3">
                <img src="../assets/images/img-heart.png" alt="img-heart">
              </div>
              <h2 class="fs-5 serifTC">聯誼</h2>
            </a>
          </li>
          <li>
            <a href="./activities.html" class="border border-primary border-2 d-block d-flex flex-column align-items-center px-3 py-5 px-md-6 py-md-5">
              <div class="category-item mb-3">
                <img src="../assets/images/img-museum.png" alt="img-museum">
              </div>
              <h2 class="fs-5 serifTC">展覽</h2>
            </a>
          </li>
          <li class="mt-2 mt-md-0">
            <a href="./activities.html" class="border border-primary border-2 d-block d-flex flex-column align-items-center px-3 py-5 px-md-6 py-md-5">
              <div class="category-item mb-3">
                <img src="../assets/images/img-cutlery.png" alt="img-cutlery">
              </div>
              <h2 class="fs-5 serifTC">美食</h2>
            </a>
          </li>
          <li class="mt-2 mt-md-0">
            <a href="./activities.html" class="border border-primary border-2 d-block d-flex flex-column align-items-center px-3 py-5 px-md-6 py-md-5">
              <div class="category-item mb-3">
                <img src="../assets/images/img-snowed-mountains.png" alt="img-snowedMountains">
              </div>
              <h2 class="fs-5 serifTC">戶外</h2>
            </a>
          </li>
          <li class="d-flex text-white mt-2 mt-md-0">
            <a href="./activities.html"
              class="category-search border border-primary border-2 w-100 d-flex justify-content-center align-items-center">
              <h2 class="fs-5 serifTC fs-7 fw-bold">探索<br>更多</h2>
            </a>
          </li>
        </ul>
      </section>
      <section class="container mb-4 mb-md-6">
        <div class="d-flex border border-2 border-primary justify-content-between align-items-center px-5 py-5">  
          <h3 class="fs-9">RECENT</h3>
          <span class="fs-6 fw-bold serifTC">近期活動</span>
        </div>
      </section>
      <section class="activity-cards container mb-4 mb-md-6">
        <div class="row row-gap-4 row-gap-lg-0">
          <div class="col-lg-4">
            <div class="card">
              <h3 class="fs-7 border-bottom border-3 border-primary pb-3 m-0">19 MAY 2023</h3>
              <div class="card-img my-3">
                <img src="../assets/images/event/01.jpg" class="card-img-top object-fit-cover w-100 h-100" alt="img-event">
             </div>
              <div class="card-body">
                <h2 class="card-title fs-5 fw-bold serifTC mb-3">邪典電影派對——房間</h2>
                <p class="card-text">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
                <a href="#" class="d-block d-flex justify-content-between align-items-center border-top border-bottom border-primary border-2 py-3">
                  <div class="d-flex">
                    <div class="activity-cardbody-icon">
                      <img src="../assets/images/sparkler.png" alt="">
                    </div>
                    <h3 class="fs-2 fw-bold serifTC m-0">社群活動</h3>
                  </div>
                  <div class="d-flex">
                    <h5 class="fs-2 fw-bold m-0 position-relative zindex-1">開賣中</h5>
                    <div class="rounded-double-right">
                      <img src="../assets/images/rounded-double-right.png" alt="">
                    </div>
                  </div>
                  
                </a>
              </div>
          </div>
          
        </div>
        <div class="col-lg-4">
          <div class="card">
            <h3 class="fs-7 border-bottom border-3 border-primary pb-3 m-0">23 MAY 2023</h3>
            <div class="card-img my-3">
              <img src="../assets/images/event/02.jpg" class="card-img-top object-fit-cover w-100 h-100" alt="img-event">
           </div>
            <div class="card-body">
              <h2 class="card-title fs-5 fw-bold serifTC mb-3">怪舞俱樂部</h2>
              <p class="card-text">覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
              <a href="#" class="d-block d-flex justify-content-between align-items-center border-top border-bottom border-primary border-2 py-3">
                <div class="d-flex">
                  <div class="activity-cardbody-icon">
                    <img src="../assets/images/sparkler.png" alt="">
                  </div>
                  <h3 class="fs-2 fw-bold serifTC m-0">演出</h3>
                </div>
                <div class="d-flex">
                  <h5 class="fs-2 fw-bold m-0 position-relative zindex-1">檢視活動</h5>
                  <div class="rounded-double-right">
                    <img src="../assets/images/rounded-double-right.png" alt="">
                  </div>
                </div>
                
              </a>
            </div>
        </div>
        
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0">
        <div class="card">
          <h3 class="fs-7 border-bottom border-3 border-primary pb-3 m-0">30 MAY 2023</h3>
          <div class="card-img my-3">
            <img src="../assets/images/event/03.jpg" class="card-img-top object-fit-cover w-100 h-100" alt="img-event">
         </div>
          <div class="card-body">
            <h2 class="card-title fs-5 fw-bold serifTC mb-3">哈利波特馬拉松</h2>
            <p class="card-text">每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...</p>
            <a href="#" class="d-block d-flex justify-content-between align-items-center border-top border-bottom border-primary border-2 py-3">
              <div class="d-flex">
                <div class="activity-cardbody-icon">
                  <img src="../assets/images/sparkler.png" alt="">
                </div>
                <h3 class="fs-2 fw-bold serifTC m-0">聯誼</h3>
              </div>
              <div class="d-flex">
                <h5 class="fs-2 fw-bold m-0 position-relative zindex-1">開賣中</h5>
                <div class="rounded-double-right">
                  <img src="../assets/images/rounded-double-right.png" alt="">
                </div>
              </div>
              
            </a>
          </div>
      </div>
      
    </div>
      </div>
      <div class="row  row-gap-4 row-gap-lg-0">
        <div class="col-lg-4">
          <div class="card">
            <h3 class="fs-7 border-bottom border-3 border-primary pb-3 m-0">12 June 2023</h3>
            <div class="card-img my-3">
               <img src="../assets/images/event/04.jpg" class="card-img-top object-fit-cover w-100 h-100" alt="img-event">
            </div>
            <div class="card-body">
              <h2 class="card-title fs-5 fw-bold serifTC mb-3">皮卡丘排球大賽</h2>
              <p class="card-text">還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...</p>
              <a href="#" class="d-block d-flex justify-content-between align-items-center border-top border-bottom border-primary border-2 py-3">
                <div class="d-flex">
                  <div class="activity-cardbody-icon">
                    <img src="../assets/images/sparkler.png" alt="">
                  </div>
                  <h3 class="fs-2 fw-bold serifTC m-0">遊戲競賽</h3>
                </div>
                <div class="d-flex">
                  <h5 class="fs-2 fw-bold m-0 position-relative zindex-1">開賣中</h5>
                  <div class="rounded-double-right">
                    <img src="../assets/images/rounded-double-right.png" alt="">
                  </div>
                </div>
                
              </a>
            </div>
        </div>
        
      </div>
      <div class="col-lg-4">
        <div class="card">
          <h3 class="fs-7 border-bottom border-3 border-primary pb-3 m-0">23 MAY 2023</h3>
          <div class="card-img my-3">
            <img src="../assets/images/event/05.jpg" class="card-img-top object-fit-cover w-100 h-100" alt="img-event">
         </div>
          <div class="card-body">
            <h2 class="card-title fs-5 fw-bold serifTC mb-3">怪舞俱樂部</h2>
            <p class="card-text">覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
            <a href="#" class="d-block d-flex justify-content-between align-items-center border-top border-bottom border-primary border-2 py-3">
              <div class="d-flex">
                <div class="activity-cardbody-icon">
                  <img src="../assets/images/sparkler.png" alt="">
                </div>
                <h3 class="fs-2 fw-bold serifTC m-0">演出</h3>
              </div>
              <div class="d-flex">
                <h5 class="fs-2 fw-bold m-0 position-relative zindex-1">檢視活動</h5>
                <div class="rounded-double-right">
                  <img src="../assets/images/rounded-double-right.png" alt="">
                </div>
              </div>
              
            </a>
          </div>
      </div>
      
    </div>
    <div class="col-lg-4">
      <div class="card">
        <h3 class="fs-7 border-bottom border-3 border-primary pb-3 m-0">30 MAY 2023</h3>
        <div class="card-img my-3">
          <img src="../assets/images/event/06.jpg" class="card-img-top object-fit-cover w-100 h-100" alt="img-event">
       </div>
        <div class="card-body">
          <h2 class="card-title fs-5 fw-bold serifTC mb-3">哈利波特馬拉松</h2>
          <p class="card-text">每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...</p>
          <a href="#" class="d-block d-flex justify-content-between align-items-center border-top border-bottom border-primary border-2 py-3">
            <div class="d-flex">
              <div class="activity-cardbody-icon">
                <img src="../assets/images/sparkler.png" alt="">
              </div>
              <h3 class="fs-2 fw-bold serifTC m-0">聯誼</h3>
            </div>
            <div class="d-flex">
              <h5 class="fs-2 fw-bold m-0 position-relative zindex-1">開賣中</h5>
              <div class="rounded-double-right">
                <img src="../assets/images/rounded-double-right.png" alt="">
              </div>
            </div>
            
          </a>
        </div>
    </div>
    
  </div>
    </div>
      </section>
      <section class="container mb-4 mb-md-6">
        <div class="d-flex border border-2 border-primary justify-content-between align-items-center px-5 py-5">  
          <h4 class="fs-9">ONLINE</h4>
          <span class="fs-6 fw-bold serifTC">線上活動</span>
        </div>
      </section>
      <section class="container chatGPT mb-5 mb-md-8">
        <div class="row">
          <div class="col-lg-7">
            <div class="chatGPT-img">
              <img src="../assets/images/event/online.jpg" alt="img-chatGPT" class="object-fit-cover w-100 h-100">
            </div>
          </div>
          <div class="col-lg-5">
            <h2 class="fs-6 fw-bold serifTC">切特居批踢</h2>
            <ul class="d-flex gap-2 p-0 mb-3 mb-md-5">
              <li class="tag"><a href="#" class="d-block serifTC fw-bold px-4 py-1">競賽</a></li>
              <li class="tag"><a href="#" class="d-block serifTC fw-bold px-4 py-1">科技</a></li>
              <li class="tag"><a href="#" class="d-block serifTC fw-bold px-4 py-1">有趣</a></li>
            </ul>
            <p class="mb-3 mb-md-5">最近網路上很流行的AI程式 ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。<br>
              這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。<br>
              該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！</p>
              <a href="#" class="activity-detail-btn d-block d-flex align-items-center bg-primary justify-content-center py-2">
                <span class="fs-5 fw-bold ms-1">查看活動詳情</span>
                <!-- <div class="rounded-double-right-white">
                  <img src="../assets/images/rounded-double-right-white.png" alt="">
                </div> -->
              </a>
          </div>
        </div>
      </section>
      <section class="marquee bg-primary overflow-hidden mb-5 mb-md-6">
        <ul class="d-flex position-relative p-0 m-0">
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">活動集錦・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">ALBUMS・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">活動集錦・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">ALBUMS・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">活動集錦・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">ALBUMS・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">活動集錦・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">ALBUMS・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">活動集錦・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">ALBUMS・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">活動集錦・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">ALBUMS・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">活動集錦・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">ALBUMS・</a></li>
        </ul>
      </section>
      <section class="container activity-album mb-7">
        <ul class="row gap-5 gap-lg-0 p-0">
          <li class="col-lg-3 position-relative">
            <h3 class="fs-2 fw-bold serifTC px-3 py-2 d-inline-block bg-white activity-sticker rotate-1 position-absolute ">社群活動</h3>
            <a href="#" class="d-block border border-2 border-primary p-3">
              <div>
                <div class="activity-album-item mb-3">
                  <img src="../assets/images/album/01.jpg" alt="activity-album" class="object-fit-cover w-100 h-100">
                </div>
                <h2 class="fs-3 fw-bold serifTC mb-5">無聲派對-閉閉嘴dancing</h2>
              </div>
            </a>
          </li>
          <li class="col-lg-3 position-relative rotate-3">
            <h3 class="fs-2 fw-bold serifTC px-3 py-2 d-inline-block bg-white activity-sticker rotate-2 position-absolute ">藝文活動</h3>
            <a href="#" class="d-block border border-2 border-primary p-3">
              <div>
                <div class="activity-album-item mb-3">
                  <img src="../assets/images/album/02.jpg" alt="activity-album" class="object-fit-cover w-100 h-100">
                </div>
                <h2 class="fs-3 fw-bold serifTC mb-5">拯救老店大作戰</h2>
              </div>
            </a>
          </li>
          <li class="col-lg-3 position-relative rotate-4">
            <h3 class="fs-2 fw-bold serifTC px-3 py-2 d-inline-block bg-white activity-sticker rotate-1 position-absolute ">自我覺察</h3>
            <a href="#" class="d-block border border-2 border-primary p-3">
              <div>
                <div class="activity-album-item mb-3">
                  <img src="../assets/images/album/03.jpg" alt="activity-album" class="object-fit-cover w-100 h-100">
                </div>
                <h2 class="fs-3 fw-bold serifTC mb-5">內觀修行-部落篇</h2>
              </div>
            </a>
          </li>
          <li class="col-lg-3 position-relative rotate-3">
            <h3 class="fs-2 fw-bold serifTC px-3 py-2 d-inline-block bg-white activity-sticker rotate-2 position-absolute ">聯誼活動</h3>
            <a href="#" class="d-block border border-2 border-primary p-3">
              <div>
                <div class="activity-album-item mb-3">
                  <img src="../assets/images/album/04.jpg" alt="activity-album" class="object-fit-cover w-100 h-100">
                </div>
                <h2 class="fs-3 fw-bold serifTC mb-5">賞櫻野餐</h2>
              </div>
            </a>
          </li>
        </ul>
      </section>
      <section class="marquee marquee2 bg-primary overflow-hidden mb-5 mb-md-7">
        <ul class="d-flex position-relative p-0 m-0">
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">活動集錦・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">ALBUMS・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">活動集錦・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">ALBUMS・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">活動集錦・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">ALBUMS・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">活動集錦・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">ALBUMS・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">活動集錦・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">ALBUMS・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">活動集錦・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">ALBUMS・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">活動集錦・</a></li>
          <li class="flex-shrink-0"><a href="#" class="d-block fs-6 fw-bold serifTC text-secondary">ALBUMS・</a></li>
        </ul>
      </section>
      <section class="container mb-8">
        <div class="row gx-0 gap-4 gap-lg-0">
          <div class="col-lg-6 border border-end-lg-0 border-primary border-2 ">
            <h3 class="fs-6 fw-bold serifTC m-0 px-2 py-3 px-lg-5 py-lg-3 border-bottom border-primary border-2">#FOLLOW US</h3>
            <div class="px-2 py-3 p-lg-5">
              <p class="mb-3 mb-lg-5">想第一時間獲得新奇有趣的活動資訊？<br>
                追蹤我們的社群吧！<br>
                也歡迎你聯繫我們，提供好玩有趣的活動企劃。</p>
                <ul class="m-0 p-0">
                  <li class="mb-3">
                    <i class="icofont-ui-email fs-2 text-white bg-primary p-2 mb-3"></i>
                    <a href="mailto:7tao.event@gmail.com">7tao.event@gmail.com</a>
                  </li>
                  <li class="mb-3">
                    <i class="icofont-phone fs-2 text-white bg-primary p-2 mb-3"></i>
                    <a href="tel:09123123123">09123123123</a>
                  </li>
                  <li class="mb-3">
                    <i class="icofont-facebook fs-2 text-white bg-primary p-2 mb-3"></i>
                    <a href="#">7TAO七逃</a>
                  </li>
                </ul>
                
            </div>
          </div>
          <div class="col-lg-6 border border-primary border-2 ">
            <h3 class="fs-6 fw-bold serifTC m-0 px-2 py-3 px-lg-5 py-lg-3 border-bottom border-primary border-2">#SUBSCRIBE US</h3>
            <div>
             <div class="px-2 py-3 p-lg-5">
              <p class="mb-3 mb-lg-5">訂閱電子報送折價券！<br>
                定期精選文章資訊及最新優惠資訊，<br>
                還不通通給我訂閱起來？</p>
                <input type="text" class="border border-primary border-2 w-100 bg-backgroundColor px-4 py-3 mb-3 mb-lg-4" placeholder="輸入Email">
             </div>
             <a href="#" class="activity-detail-btn d-block d-flex align-items-center bg-primary justify-content-center py-2">
              <span class="fs-5 fw-bold ms-1">查看活動詳情</span>
              <!-- <div class="rounded-double-right-white">
                <img src="../assets/images/rounded-double-right-white.png" alt="">
              </div> -->
            </a>
            </div>
          </div>
        </div>
      </section>
      <section class="text-center border-top border-primary border-2 py-6 py-md-7">
        <h4 class="fs-6 fw-bold serifTC mb-3">此刻打盹，你將做夢；此刻學習，你將圓夢</h4>
        <span class="fs-3 fw-bold serifTC">——我也不知道誰說的</span>
      </section>


     
    </main>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>